/* box styles */

/* body {
  background: #d49bf4;
} */

.wrapper {
  background-color: rgb(223, 241, 252);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
}

#city-input {
  padding: 10px 0 0 0;
}

#five-days div.col {
  border: 1px solid black;
}

.main-info {
  padding: 0 0 20px 0;
  margin: 0;
}

/* font styles */

h1 {
  color: #030f33;
}

.city-name {
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  font-weight: bold;
}

h3 {
  font-size: 10px;
}

.main-info p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.1em;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
}
