/* #####################
BOX STYLES
##################### */

.outer {
  max-width: 600px;
  margin: 0 auto;
}

.wrapper {
  background-image: linear-gradient(
    to bottom right,
    rgba(223, 241, 252, 0.5),
    rgb(193, 230, 254),
    rgba(223, 241, 252, 0.5)
  );
  margin: 20px auto 15px auto;
  padding: 30px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(134, 134, 134);
  border: 6px solid rgb(1, 64, 105);
}

.middle {
  text-align: center;
  justify-content: center;
}

.weather-forecast .col-2 {
  border-right: 1px solid rgb(1, 64, 105);
}

.weather-forecast .col-2:last-of-type {
  border: none;
}

.main {
  padding: 0 0 20px 0;
  margin: 0;
}

#bottom-text {
  padding-left: 20px;
}

.button {
  background-color: rgb(1, 64, 105);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
}

/* #####################
IMAGE STYLES
##################### */

img {
  display: inline-block;
  text-align: left;
  margin: 0;
  width: 100%;
  vertical-align: top;
}

#icon {
  margin-top: -30px;
  margin-left: -20px;
}

/* #####################
FONT STYLES
##################### */

h1 {
  color: rgb(1, 64, 105);
  padding-bottom: 10px;
}

#bottom-text a {
  color: rgb(1, 64, 105);
}

.city-name {
  padding: 0;
  margin: 0;
  font-size: 1.7em;
  font-weight: bold;
}

form p {
  font-size: 0.8em;
  font-style: italic;
  padding-left: 3px;
}

.main-info {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.7em;
}

.main-details {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.1em;
}

.category {
  font-weight: normal;
}

.conditions::first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
  font-size: 1.1em;
}

.forecast-temp {
  font-size: 0.8em;
}

.high {
  font-weight: bold;
}

.active {
  color: black;
  text-decoration: none;
  cursor: auto;
}

.active:hover {
  color: black;
}

#conditions {
  font-size: 1.5em;
  line-height: 30px;
}
